*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif !important;
}
.header-buttons {
    float: right;
}
button {
    margin-right : 20px;
    background-color: #fee77b;
    outline : none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 25px;
    border: 2px solid #000;
    font-size: 14px;
    z-index : 10;
}
button:hover {
    background-color: #f9fafb;
}
.header-links {
    transform: translateY(125%);
    font-size: 1.3rem;
    z-index: 0;
    text-align: center;
    width: 70%;
    margin: auto;
}
a{
    padding: 10px;
}
.clear {
    clear: both;
}